extends layout

block head
  link(type='text/css', rel='stylesheet', href='javascripts/widget/css/rcarousel.css')
  script(type='text/javascript', src='javascripts/widget/lib/jquery-1.7.1.min.js')
  script(type='text/javascript', src='javascripts/widget/lib/jquery.ui.core.min.js')
  script(type='text/javascript', src='javascripts/widget/lib/jquery.ui.widget.min.js')
  script(type='text/javascript', src='javascripts/widget/lib/jquery.ui.rcarousel.min.js')
  script(src="/javascripts/carousel.js")


//- block style
//-   script(type='text/javascript', src='javascripts/widget/lib/jquery-1.7.1.min.js')
//-   script(type='text/javascript', src='javascripts/widget/lib/jquery.ui.core.min.js')
//-   script(type='text/javascript', src='javascripts/widget/lib/jquery.ui.widget.min.js')
//-   script(type='text/javascript', src='javascripts/widget/lib/jquery.ui.rcarousel.min.js')
//-   script(src="/javascripts/carousel.js")
body 
  block content
    div#carousel(class='carousel')
      for friend in frienddata
        if(friend.photos)
          img(src=friend.photos.source)

    div(class='navi')
      a#ui-carousel-prev(href='#') PREV
      a#ui-carousel-next(href='#') NEXT